/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 5, 2016, Aug 5, 2016 2:06:57 PM
    Author     : Russ
*/


/*-------------------------------------------------------------------------------------------*\
    RESPONSIVE      min-width:375px iPhone6 Portrait
\*--------------------------------------------------------------------------------------------*/
@media only screen and (min-width:375px){
    .footer{
        p.copyright{
            margin-top:3em;
        }
    }
    
}

/*-------------------------------------------------------------------------------------------*\
    RESPONSIVE      min-width:400px  iPhone6 Plus Portrait
\*--------------------------------------------------------------------------------------------*/
@media only screen and (min-width:400px){
    
}

/*-------------------------------------------------------------------------------------------*\
    RESPONSIVE      min-width:568px   iPhone5 Landscape
\*--------------------------------------------------------------------------------------------*/
@media only screen and (min-width:568px){
    #mobileOnly{
        display:none;
    }
    #desktopOnly{
        display:block;
    }
    .footer{
        height:23em;
        
    }
}

/*-------------------------------------------------------------------------------------------*\
    RESPONSIVE      min-width:660px iPhone6 Landscape
\*--------------------------------------------------------------------------------------------*/
@media only screen and (min-width:660px){
    
}

/*-------------------------------------------------------------------------------------------*\
    RESPONSIVE      min-width:736px   iPhone6 Plus Landscape
\*--------------------------------------------------------------------------------------------*/
@media only screen and (min-width:736px){
    
}

/*-------------------------------------------------------------------------------------------*\
    RESPONSIVE      min-width:768px iPad Portrait
\*--------------------------------------------------------------------------------------------*/
@media only screen and (min-width:768px){
    #mobileOnly2{
        display:none;
    } 
    #desktopOnly2{
        display: block;
    }
    .header{
        background:$olive;
        height:4em;
        position:relative;
        top:12em;
        margin-top:-12em;
        .logo{
            margin: 0 0 0 1em;
            position: relative;
            top: 9em;
            width: 35%;
            img{
                
            }
        }
        ul.menu{
            @include span-columns(8);
            @include shift(4);
            position: relative;
            top:-8em;
            display: inline-block;
            //background:$olive;
            
            
            
            li{
                float: left;
                padding: 1em;
                line-height: 2em;
                text-transform: uppercase;
                a{
                    color:$gray;
                }
            }
        }
    }
    
    .homeSection{
        .homeContent{
            background:transparent;
            border:none;
            font-size:1.5em;
            
            ul.post-meta{
                font-size:.75em;
                li{
                    border-top:solid 2px $yellow;
                    padding-top:2em;
                    span{
                        
                    }
                }
            }
        }
        h1{
            display:none;
        }
        .leftSide{
            width:83.3333%;
            float: left;
            display:block;
        }
        .sidebar{
            width:16.6667%;
            float: left;
            display: block;
            background:#fff;
            height: 100%;
            min-height: 71.5em;
            overflow: hidden;
            ul{
                li{
                    img{
                        margin: 1.5em auto;
                        padding: 0 .5em;
                    }
                }
            }
        }
    }
    
}

/*-------------------------------------------------------------------------------------------*\
    RESPONSIVE      min-width:1024px       ipad Landscape
\*--------------------------------------------------------------------------------------------*/
@media only screen and (min-width:1024px){
    
}

/*-------------------------------------------------------------------------------------------*\
    RESPONSIVE      min-width:1140px
\*--------------------------------------------------------------------------------------------*/
@media only screen and (min-width:1140px){
    
}

/*-------------------------------------------------------------------------------------------*\
    RESPONSIVE      min-width:1240px
\*--------------------------------------------------------------------------------------------*/
@media only screen and (min-width:1240px){
    
}
@media only screen and (-webkit-min-device-pixel-ratio:1.5),
	   only screen and (min-resolution:144dpi) {

}


