/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 5, 2016, Aug 5, 2016 2:06:57 PM
    Author     : Russ
*/
/*------------------------------------*\
    Imports
\*------------------------------------*/

@import "assets/sass/bourbon/bourbon.scss";

@import "assets/sass/neat/neat.scss";

@import 'mobile-menu.scss';

@import 'variables.scss';

@import "base/base";

@import "assets/sass/font-awesome-4.6.3/scss/font-awesome.scss";

/*-------------------------------------------------------------------------------------------*\
    RESPONSIVE      min-width:375px iPhone6 Portrait
\*--------------------------------------------------------------------------------------------*/
@media only screen and (min-width:375px){
    .footer{
        p.copyright{
            margin-top:3em;
        }
    }
    
}

/*-------------------------------------------------------------------------------------------*\
    RESPONSIVE      min-width:400px  iPhone6 Plus Portrait
\*--------------------------------------------------------------------------------------------*/
@media only screen and (min-width:400px){
    
}
/*-------------------------------------------------------------------------------------------*\
    RESPONSIVE      min-width:568px   iPhone5 Landscape
\*--------------------------------------------------------------------------------------------*/
@media only screen and (min-width:568px){
    #mobileOnly{
        display:none;
    }
    #desktopOnly{
        display:block;
    }
    .postArea{
        padding:0 2em;
        min-height:72em;
        height:100%;
        .tourPost{
            @include span-columns(6);
        }
        .tourPost:nth-child(odd){
            @include span-columns(6);
            @include omega();
        }
    }
    
    .footer{
        height:23em;
       
    }
}

/*-------------------------------------------------------------------------------------------*\
    RESPONSIVE      min-width:660px iPhone6 Landscape
\*--------------------------------------------------------------------------------------------*/
@media only screen and (min-width:660px){
    .defaultContent{
        @include span-columns(6);
        
    }
    .defaultContent:nth-child(even){
        @include span-columns(6);
        @include omega();
    }
    .page-template-default{
        .defaultContent{
            @include span-columns(12);
        }
    }
    .defaultContent:nth-child(even){
        @include span-columns(12);
        @include omega();
    }
    .post-template-default{
        .defaultContent{
            @include span-columns(12);
        }
    }
    .testimonialContent {
        padding: 0 6em;
    }
}

/*-------------------------------------------------------------------------------------------*\
    RESPONSIVE      min-width:736px   iPhone6 Plus Landscape
\*--------------------------------------------------------------------------------------------*/
@media only screen and (min-width:736px){
    
}

/*-------------------------------------------------------------------------------------------*\
    RESPONSIVE      min-width:768px iPad Portrait
\*--------------------------------------------------------------------------------------------*/
@media only screen and (min-width:768px){
    
    #mobileOnly2{
        display:none;
    } 
    #desktopOnly2{
        display: block;
    }
    .header{
        background:$olive;
        height:4em;
        position:relative;
        top:12em;
        margin-top:-12em;
        .logo{
            margin: 0 0 0 1em;
            position: relative;
            top: 9em;
            width: 35%;
            img{
                
            }
        }
        .nav{
            ul.menu{
                @include span-columns(9);
                @include shift(3);
                position: absolute;
                top:0;
                display: inline-block;
                //background:$olive;
                ul{
                    display:none;
                    position: absolute;
                    width:10em;
                    background:$olive;
                    z-index:9999;
                    overflow: hidden;
                    li{
                        display:block;
                        float:none;
                        width:16em;
                        a,visited{
                            padding: 10px 15px;
                        }
                    }
                }
                
                li{
                    float: left;
                    padding: 1em;
                    line-height: 2em;
                    text-transform: uppercase;
                    a{
                        color:$gray;
                    }
                }
            }
        }
        
        .nav ul.menu li.current-menu-item>a, .nav ul.menu li a:hover {
            background: $olive-hover;
            height: 4em;
            display: block;
            margin-top: -1em;
            padding-top: 1em;
        }
        .nav ul.menu li ul li:a:hover{
            background: $olive-hover;
            
        }
        .nav ul.menu li:hover > ul {
            display:block;
        }
    }
    img.homeImage{
        border-bottom:solid 2px $olive;
    }
    .homeSection{
        font-size: 1.1em;
        
            .homeContent{
                background:transparent;
                border:none;
                font-size:1.5em;

                ul.post-meta{
                    font-size:.75em;
                    li{
                        border-top:solid 2px $yellow;
                        padding-top:2em;
                        span{

                        }
                    }
                }
            }
            h1{
                display:none;
            }
            .leftSide{
                width:83.3333%;
                float: left;
                display:block;
            }
            .sidebar{
                width:16.6667%;
                float: left;
                display: block;
                background:#fff;
                height: 100%;
                min-height: 81em;
                overflow: hidden;
                ul{
                    li{
                        img{
                            display:block;
                            margin: 1.5em auto;
                            padding: 0 .5em;
                        }
                    }
                }
            }
            .homePostSection{
                @include span-columns(6);
                min-height: 26em;
                .homePost{
                    p{
                        padding: 0 2em;
                    }
                }
            }
            .homePostSection:nth-child(odd){
                @include span-columns(6);
                @include omega();
            }
            .centerText{
                @include span-columns(12);
                background:$gray;
                border-top: 2px solid #fff;
                border-bottom: 2px solid #fff;
                height:8em;
                p{
                    color:$yellow;
                    padding: 1em 1.5em;
                    font-size: 1.4em;
                    font-weight: 500;
                    line-height: 1.8em;
                    span{
                        color:#fff;
                    }
                }
            }
    }
    .tourSection{
        font-size: 1.1em;
        .postArea{
            @include outer-container;
        }
    }
    .testimonialArea{
        @include outer-container;
        padding: 0 2em;
        .testimonial{
          @include span-columns(6);  
          padding:0 3em;
          font-style: italic;
          color:$yellow;
          span.leftQuote{
              float:left;
              
          }
          
          h3{
              color:#fff;
              text-align: center;
              margin-top:1em;
              margin-bottom: 4em;
          }
        }
        .testimonial:nth-child(odd){
          @include span-columns(6);
          @include omega();
        }
    }
    .defaultSection{
        .defaultContent{
            min-height:46em;
            padding: 2em 5em;
            font-size: 1.1em;
            
            p{
                margin-bottom:1.5em;
            }
        }
    }
    .footer{
        height:28em;
        .footerIcons{
            //@include outer-container;
            background:$gray;
            border-top:solid 2px $yellow;
            height:12em;
            padding:0 3em;
            .footerLinks{
                @include span-columns(3);
                text-align:center;
                a{
                    color:#fff;
                    line-height:1.8em;
                    
                    .fa{
                        
                        color:$yellow;
                        font-size: 3em;
                        padding: 1em .2em .2em;
                    }
                }
               
                span{
                    color:#fff;
                    transition: color 1s ease-out;
                }
                 span:hover{
                   color:$yellow; 
                }
            }
        }
        ul.menu{
            margin: 2em 0 0 2em;
            li{
                float:left;
                text-transform:uppercase;
                a{
                    color:#fff;
                    margin-right: 1em;
                    
                }
                ul.sub-menu{
                    margin: 1em 0em 0 -4em;
                    li{
                        float:none;
                        margin-bottom:.4em;
                    }
                }
            }
            
        }
    }
    .defaultSection{
        min-height: 66em;
    }
    .testimonialSection{
       @include outer-container; 
    }
    .testimonialContent:nth-child(1){
        margin-top:33em;
    }
}

/*-------------------------------------------------------------------------------------------*\
    RESPONSIVE      min-width:1024px       ipad Landscape
\*--------------------------------------------------------------------------------------------*/
@media only screen and (min-width:1024px){
    .header{
        .nav{
            ul.menu{
                @include span-columns(8);
                @include shift(4);
            }
        }
    }
    .homeSection {
        .centerText{
            height: 10em;
            p{
                padding: 1em 3.5em;
                font-size: 1.6em;
            }
        }
        .sidebar{
            min-height: 83em;
        }
    }
    .postArea{
        min-height:80em;
    }
}

/*-------------------------------------------------------------------------------------------*\
    RESPONSIVE      min-width:1140px
\*--------------------------------------------------------------------------------------------*/
@media only screen and (min-width:1140px){
    .homeSection{
        
        
        .sidebar{
            ul{
                li{
                    img{
                        margin-top:3.5em;
                    }
                }
            }
        }
    }
    .postContainer{
        @include outer-container;
    }
    .testimonialContent{
        h2{
            font-size: 3em;
        }
        p{
            font-size: 2em;
            line-height: 3em;
        }
        
    }
    .left-quotes, .right-quotes{
        font-size: 6em;
    }
}

/*-------------------------------------------------------------------------------------------*\
    RESPONSIVE      min-width:1240px
\*--------------------------------------------------------------------------------------------*/
@media only screen and (min-width:1240px){
    .header{
        .nav{
            ul.menu{
                //@include span-columns(5);
                //@include shift(7);
            }
        }
    }
    
}
/*-------------------------------------------------------------------------------------------*\
    RESPONSIVE     
\*--------------------------------------------------------------------------------------------*/


@media only screen and (-webkit-min-device-pixel-ratio:1.5),
	   only screen and (min-resolution:144dpi) {

}


