/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 4, 2016, 3:20:49 PM
    Author     : Russ
*/


/*============== Colors =============*/

$black:rgb(36, 36, 36);
$hover-white:rgb(217,217,217);
$gray:rgb(92, 92, 92);
$yellow:rgb(213, 225, 77);
$olive:rgba(147, 155, 54, .8);
$olive-hover:rgb(213, 225, 77);

/*=============== Fonts ============*/


@font-face{
    font-family: Ubuntu Medium;
    src: url(./assets/fonts/Ubuntu-M.ttf);
    font-weight: normal;
}
